@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2 {
  line-height: 1.5;
  margin-bottom: 10px;
}

.button {
  padding: 5px;
  border-radius: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

p {
  padding-bottom: $spacing;
}
