<template>
  <button v-on:click='removePanel' class='button'>Remove Panel</button>
</template>

<script>
export default {
  name: 'RemovePanel',
  props: ['panel'],
  methods: {
    removePanel() {
      this.$store.dispatch('removePanel', this.panel);
    },
  },
};
</script>

<style scoped>

</style>
